@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(226 232 240);
}

strong {
  font-weight: 900;
}

.card-container{
 width:100%;
 height:100%;
}

.single-card-container,
.double-card-container {
  width:100%;
  height:100%;
  margin:auto;
}

.card-image{
  height:100%;
  widht: auto;
  object-fit: scale-down;
  margin: auto;
}

.dual-card-center-wrapper{
  display:flex;
  margin:auto;
}

.dual-faced-card{
  width: 100%;
  height:100%;
  position: relative;
  display:flex;
}

.dual-faced-card-center-wrapper{
  width: 100%;
  height: 100%;
  margin:auto;
}

.cardFront,
.cardBack {
  height:100%;
  width:100%;
  transition: transform 0.3s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.flip-button{
  background-color: RGB(150,150,150);
  opacity: 75%;
  height: 15%;
  aspect-ratio: 1/1;
  margin: 10px;
  border-radius: 50%;
  padding: 10px;
  min-height: 80px;
  position: absolute;
  top:30%;
  left:50%;
  z-index: 999; 
}

.cardBack {
  transform: perspective(10000px) rotateY(180deg) ; 
}

.cardBack.flipped {
  transform: perspective(10000px) rotateY(0deg) ;
}

.cardFront {
  transform: perspective(10000px) rotateY(0deg);
}

.cardFront.flipped {
  transform: perspective(10000px) rotateY(-180deg) ;
}